* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-height: 100vh;
    font-family: Calibri, serif;
    font-size: 24px;
    background-color: #9F9DC2;
}

.header-search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

#searchInput, #searchInput:focus {
    height: 100%;
    padding: 8px;
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: #FFFFFF;
}

.header {
    height: 40%;
    background-color:  #353566;
    color: #FFFFFF;
    font-weight: bolder;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-shadow: 0 4px 4px 0 #00000040;
}

.status-container {
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.status-item {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #3B3A73;
    border-width: 0 1px 3px 2px;
    border-style: solid;
    border-color: #CACCE3;
    padding-bottom: 4px;
    padding-top: 8px;
}
.status-item__title {
    display: block;
    text-align: center;
    font-size: 0.9rem;
}

.status-item__number {
    display: block;
    text-align: center;
    margin-top: 16px;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos-item {
    background-color: #E0E4F0;
    box-shadow: 0 4px 4px 0 #00000040;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;

}

.todo-title {
    display: flex;
    align-items: center;
    gap: 8px;
}



button {
    width: 70px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    color: #353566;
    background-color: #E0E4F0;
    font-weight: bold;
    box-shadow: 0 4px 4px 0 #00000040;
    height: 100%;
}

.remove_item_button {
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50%;
    padding: 0 4px;
    vertical-align: middle;
    line-height: 100%;
    font-size: 0.9rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    flex-basis: 30%;
}

.list {
    width: 50%;
    padding: 32px 8px 32px 8px;
    background-color: #CACCE3;
    border: 5px solid #DADDF0;
    border-radius: 10px;
}

.statuses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-bottom: 32px;
}

input[type=checkbox] {
    width: 32px;
    height: 32px;
    accent-color: #3B3A73;
}

.search-container {
    background-color: #272D4D;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 8px 8px 8px 0;
    width: 300px;
}
